<font size="10">
    <b>
        Machine Learning 
        <b></font>

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

<font size="6">
    <b>
        Importing our species data frame
        <b></font>

In [2]:
file_param = "./Data/"
clean_n_full_df_csv = "df_numeric.csv"

df = pd.read_csv(file_param + clean_n_full_df_csv, header=0, sep=',')
df.drop("Unnamed: 0",inplace=True, axis=1) 
df

,Conservation Status,Phylum,Class,Order,Family,Scientific Name,Diet,Common Name,Color,Skin Type,...,Number Of Threats,Africa,America,Asia,Europe,Oceania,Ocean,Antarctica,Number Of Locations,IsExtinct
0,Least Concern,0,0,0,0,Orycteropus afer,0,Aardvark,0,0,...,2,1,0,0,0,0,0,0,1,0
1,Not Listed,0,0,1,1,Felis catus,0,Abyssinian cat,1,0,...,0,1,0,0,0,0,0,0,1,0
2,Not Listed,0,0,1,2,Canis Lupus,0,Affenpinscher,2,0,...,0,0,0,0,1,0,0,0,1,0
3,Not Listed,0,0,1,2,Canis Lupus,0,Afghan Hound,3,0,...,0,0,0,1,0,0,0,0,1,0
4,Least Concern,0,0,1,3,Civettictis civetta,0,African Civet,4,1,...,2,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1733,Not Evaluated,5,17,155,357,Physalia physalis,1,Man of war jellyfish,558,3,...,1,0,0,0,0,0,1,0,1,0
1734,Least Concern,5,18,156,358,Jellyfish,1,Jellyfish,559,3,...,0,0,0,0,0,0,1,0,1,0
1735,Not Evaluated,5,18,156,358,Cyanea capillata,1,Lion’s Mane Jellyfish,560,2,...,1,0,0,0,0,0,1,0,1,0
1736,Least Concern,0,19,157,2,Vampire fish,1,Lamprey,561,3,...,0,0,0,0,0,0,1,0,1,0
1737,Near Threatened,6,20,158,2,Echinoidea,0,Sea Urchin,61,5,...,0,0,0,0,0,0,1,0,1,0

<font size="6">
    <b>
        Dropping string columns with no meaning to prediction
        <b></font>

In [3]:
string_columns_to_drop = ["Scientific Name","Conservation Status"]
df.set_index('Common Name',inplace=True)
df.drop(string_columns_to_drop,inplace=True, axis=1)

In [4]:
df

,Phylum,Class,Order,Family,Diet,Color,Skin Type,Lifespan,Type,Predators,...,Number Of Threats,Africa,America,Asia,Europe,Oceania,Ocean,Antarctica,Number Of Locations,IsExtinct
Common Name,,,,,,,,,,,,,,,,,,,,,
Aardvark,0,0,0,0,0,0,0,23,0,1,...,2,1,0,0,0,0,0,0,1,0
Abyssinian cat,0,0,1,1,0,1,0,15,1,1,...,0,1,0,0,0,0,0,0,1,0
Affenpinscher,0,0,1,2,0,2,0,15,2,1,...,0,0,0,0,1,0,0,0,1,0
Afghan Hound,0,0,1,2,0,3,0,15,3,1,...,0,0,0,1,0,0,0,0,1,0
African Civet,0,0,1,3,0,4,1,15,0,3,...,2,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Man of war jellyfish,5,17,155,357,1,558,3,15,97,3,...,1,0,0,0,0,0,1,0,1,0
Jellyfish,5,18,156,358,1,559,3,0,98,4,...,0,0,0,0,0,0,1,0,1,0
Lion’s Mane Jellyfish,5,18,156,358,1,560,2,1,99,5,...,1,0,0,0,0,0,1,0,1,0
Lamprey,0,19,157,2,1,561,3,6,38,2,...,0,0,0,0,0,0,1,0,1,0
Sea Urchin,6,20,158,2,0,61,5,15,0,4,...,0,0,0,0,0,0,1,0,1,0

In [5]:
df.corr()

,Phylum,Class,Order,Family,Diet,Color,Skin Type,Lifespan,Type,Predators,...,Number Of Threats,Africa,America,Asia,Europe,Oceania,Ocean,Antarctica,Number Of Locations,IsExtinct
Phylum,1.000000,0.755810,0.579889,0.485885,0.031948,0.273190,0.208561,-0.104371,0.431169,0.122830,...,-0.040209,0.166316,0.083708,0.170537,0.137980,0.212585,0.295524,0.041397,0.283700,-0.110141
Class,0.755810,1.000000,0.884693,0.773778,0.046544,0.487610,0.469047,0.012910,0.734473,0.152611,...,0.057110,0.105756,0.008232,0.101791,0.000622,0.159167,0.415880,0.024220,0.205551,-0.106200
Order,0.579889,0.884693,1.000000,0.944618,0.034976,0.573522,0.628187,0.001472,0.835857,0.229944,...,0.132567,0.128894,0.001356,0.120301,-0.047023,0.196875,0.390100,0.016128,0.244713,0.024928
Family,0.485885,0.773778,0.944618,1.000000,0.058542,0.545227,0.636078,0.000439,0.837038,0.273804,...,0.187484,0.113244,-0.026782,0.103706,-0.090584,0.170409,0.335387,0.023716,0.219171,0.115923
Diet,0.031948,0.046544,0.034976,0.058542,1.000000,0.091763,0.115534,0.088800,0.080440,0.159933,...,0.185195,0.114938,-0.025499,0.061586,-0.103109,0.022917,0.070110,0.040941,0.064309,0.137269
Color,0.273190,0.487610,0.573522,0.545227,0.091763,1.000000,0.517353,0.002529,0.602477,0.303680,...,0.085534,0.171989,0.125660,0.182420,0.047988,0.199404,0.301045,0.023563,0.240962,-0.219576
Skin Type,0.208561,0.469047,0.628187,0.636078,0.115534,0.517353,1.000000,0.031470,0.643478,0.293354,...,0.066722,0.213147,0.143088,0.214261,0.007559,0.260375,0.396804,0.086773,0.315041,-0.166084
Lifespan,-0.104371,0.012910,0.001472,0.000439,0.088800,0.002529,0.031470,1.000000,-0.009349,-0.004402,...,0.068068,-0.038823,-0.090726,-0.052136,-0.112076,-0.094927,0.031605,0.004972,-0.111273,0.023804
Type,0.431169,0.734473,0.835857,0.837038,0.080440,0.602477,0.643478,-0.009349,1.000000,0.288953,...,0.136158,0.144242,0.055505,0.155910,0.005149,0.201519,0.369773,0.047992,0.258341,-0.084768
Predators,0.122830,0.152611,0.229944,0.273804,0.159933,0.303680,0.293354,-0.004402,0.288953,1.000000,...,0.149604,0.165550,0.091174,0.142861,-0.015412,0.173460,0.199276,0.052025,0.223789,-0.007230
Birth rate,0.136457,0.132410,0.069832,0.061829,-0.020486,0.056416,0.028683,0.001133,-0.017655,0.009946,...,-0.019230,-0.009881,-0.016526,-0.011504,-0.012255,-0.008257,0.048160,-0.002440,-0.009356,-0.018005
Conception Period,-0.055961,0.002666,-0.042655,-0.036561,0.163248,-0.075915,-0.040109,0.264763,-0.051422,-0.029297,...,0.032871,0.063832,-0.048478,-0.014102,-0.061224,-0.041599,0.042931,-0.015381,-0.035110,0.000474
Habitat Loss,-0.072721,-0.036675,0.085881,0.162238,0.123503,-0.055544,-0.025182,-0.000406,0.014138,0.119023,...,0.627587,-0.132073,-0.368231,-0.197120,-0.363382,-0.182947,-0.290792,-0.069895,-0.211397,0.692728
Climate Change,-0.035361,-0.045622,-0.039174,-0.018342,0.026678,-0.038924,-0.017544,0.022713,-0.038032,0.042144,...,0.173500,-0.010239,-0.088339,-0.045854,-0.061111,-0.035054,-0.037847,0.027410,-0.035667,0.152282
Human Influance,-0.007790,0.125285,0.153382,0.165659,0.096538,0.129399,0.099327,0.085815,0.165012,0.095776,...,0.413262,0.007760,-0.034973,-0.023684,-0.098987,-0.032673,0.071272,-0.024473,-0.019435,0.058549
Pollution,0.093517,0.163075,0.184373,0.194818,0.072131,0.156220,0.194707,-0.025414,0.212601,0.079805,...,0.231327,0.023638,0.048750,0.025196,0.007267,0.019215,0.108079,0.004344,0.064461,-0.038535
Hunting,-0.088255,-0.014864,0.034241,0.069922,0.106508,-0.049597,-0.013797,0.141640,0.007682,0.060378,...,0.505606,-0.072887,-0.194960,-0.095975,-0.194612,-0.121983,-0.072981,-0.020544,-0.129802,0.324511
Predation,0.022243,0.028303,0.063872,0.096610,0.103988,-0.002221,-0.006963,-0.020723,0.064876,0.008845,...,0.466616,-0.104500,-0.150260,-0.107428,-0.142747,-0.076742,-0.099607,-0.034879,-0.085820,0.321793
Disease,0.030597,0.028292,0.054426,0.065166,0.025292,0.016628,-0.032214,-0.011019,0.019031,-0.009566,...,0.213144,-0.052008,-0.056352,-0.043633,-0.049176,-0.015487,-0.046517,-0.015499,-0.024064,0.147389
Invasive Species,-0.049365,-0.015451,0.038462,0.078414,0.089813,-0.052473,-0.065636,-0.011585,0.035007,-0.018804,...,0.543569,-0.143882,-0.230267,-0.167597,-0.177874,-0.108968,-0.163595,-0.035415,-0.134645,0.447180
Food Competition,-0.050825,-0.036140,-0.014717,0.008955,0.107232,0.072215,0.015221,0.026953,0.002488,0.159462,...,0.568928,0.089918,-0.006482,0.050174,-0.113275,-0.039571,-0.085152,-0.024855,-0.043168,0.019880
Number Of Threats,-0.040209,0.057110,0.132567,0.187484,0.185195,0.085534,0.066722,0.068068,0.136158,0.149604,...,1.000000,-0.039989,-0.199477,-0.090380,-0.266263,-0.118692,-0.111845,-0.045668,-0.123439,0.388716
Africa,0.166316,0.105756,0.128894,0.113244,0.114938,0.171989,0.213147,-0.038823,0.144242,0.165550,...,-0.039989,1.000000,0.162095,0.444550,0.289687,0.433680,0.251354,0.069737,0.645102,-0.254059
America,0.083708,0.008232,0.001356,-0.026782,-0.025499,0.125660,0.143088,-0.090726,0.055505,0.091174,...,-0.199477,0.162095,1.000000,0.176733,0.140859,0.231793,0.076605,0.025245,0.415104,-0.408864
Asia,0.170537,0.101791,0.120301,0.103706,0.061586,0.182420,0.214261,-0.052136,0.155910,0.142861,...,-0.090380,0.444550,0.176733,1.000000,0.364783,0.419933,0.246306,0.066401,0.668263,-0.340771
Europe,0.137980,0.000622,-0.047023,-0.090584,-0.103109,0.047988,0.007559,-0.112076,0.005149,-0.015412,...,-0.266263,0.289687,0.140859,0.364783,1.000000,0.302465,0.150579,0.045306,0.552717,-0.366400
Oceania,0.212585,0.159167,0.196875,0.170409,0.022917,0.199404,0.260375,-0.094927,0.201519,0.173460,...,-0.118692,0.433680,0.231793,0.419933,0.302465,1.000000,0.699365,0.110310,0.806480,-0.255284
Ocean,0.295524,0.415880,0.390100,0.335387,0.070110,0.301045,0.396804,0.031605,0.369773,0.199276,...,-0.111845,0.251354,0.076605,0.246306,0.150579,0.699365,1.000000,0.190602,0.589051,-0.361521
Antarctica,0.041397,0.024220,0.016128,0.023716,0.040941,0.023563,0.086773,0.004972,0.047992,0.052025,...,-0.045668,0.069737,0.025245,0.066401,0.045306,0.110310,0.190602,1.000000,0.201586,-0.075895
Number Of Locations,0.283700,0.205551,0.244713,0.219171,0.064309,0.240962,0.315041,-0.111273,0.258341,0.223789,...,-0.123439,0.645102,0.415104,0.668263,0.552717,0.806480,0.589051,0.201586,1.000000,-0.290073
IsExtinct,-0.110141,-0.106200,0.024928,0.115923,0.137269,-0.219576,-0.166084,0.023804,-0.084768,-0.007230,...,0.388716,-0.254059,-0.408864,-0.340771,-0.366400,-0.255284,-0.361521,-0.075895,-0.290073,1.000000

<font size="6">
    <b>
        Machine Learning process
        <b></font>

In [6]:
features = df.columns[df.columns != 'IsExtinct']
X = df[features]
y = pd.Series(df['IsExtinct'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf_model = LogisticRegression().fit(X_train, y_train)
y_pred = clf_model.predict(X_test)

resDF = pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

resDF["correct"] = abs((resDF["Actual"] + resDF["Predicted"]) - 1)
resDF[resDF["correct"] == 1]

                             Actual  Predicted  correct
Common Name
key deer                          0          0        1
American robin                    0          0        1
New Caledonian rail               1          1        1
Grandidier's giant tortoise       1          1        1
Canis lupus                       0          0        1
...                             ...        ...      ...
Turgid blossom                    1          1        1
Felis Concolor                    0          0        1
Basset Hound Dog                  0          0        1
White-tail deer                   0          0        1
Canis lupus                       0          0        1

[321 rows x 3 columns]

In [7]:
print("correct %:",len(resDF[resDF["correct"] == 1]) / len(resDF))

correct %: 0.9224137931034483

<font size="6">
    <b>
        Feature Engineering and DataFrame Prediction
        <b></font>

<font size="3">
    <b>
        Trying to get an even better prediction accuracy, we combined the numeric columns "Birth rate" and "Conception Period"
        <b></font>

In [8]:
acc_df = df
acc_df["Birth rate AND Conception Period"] = acc_df["Birth rate"]*acc_df["Conception Period"]
acc_df.drop("Birth rate",axis=1,inplace =True)
acc_df.drop("Conception Period",axis=1,inplace =True)

In [9]:
features = acc_df.columns[acc_df.columns != 'IsExtinct']
X = acc_df[features]
y = pd.Series(acc_df['IsExtinct'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf_model = LogisticRegression().fit(X_train, y_train)
y_pred = clf_model.predict(X_test)

resDF = pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

resDF["correct"] = abs((resDF["Actual"] + resDF["Predicted"]) - 1)
resDF[resDF["correct"] == 1]

                             Actual  Predicted  correct
Common Name
key deer                          0          0        1
American robin                    0          0        1
New Caledonian rail               1          1        1
Grandidier's giant tortoise       1          1        1
Canis lupus                       0          0        1
...                             ...        ...      ...
Turgid blossom                    1          1        1
Felis Concolor                    0          0        1
Basset Hound Dog                  0          0        1
White-tail deer                   0          0        1
Canis lupus                       0          0        1

[327 rows x 3 columns]

In [10]:
print("correct %:",len(resDF[resDF["correct"] == 1]) / len(resDF))

correct %: 0.9396551724137931

<font size="3">
    <b>
        After creating a better accuracy we used the model to predict all of the species status
        <b></font>

In [11]:
predict = clf_model.predict(X)
df['Prediction'] = predict
predict_df = df[['IsExtinct','Prediction']]
#predict_df.to_csv('C:/Users/noypr/Downloads/df_full_ex_prediction.csv')

In [12]:
predict_df

                       IsExtinct  Prediction
Common Name
Aardvark                       0           0
Abyssinian cat                 0           0
Affenpinscher                  0           0
Afghan Hound                   0           0
African Civet                  0           0
...                          ...         ...
Man of war jellyfish           0           0
Jellyfish                      0           0
Lion’s Mane Jellyfish          0           0
Lamprey                        0           0
Sea Urchin                     0           0

[1738 rows x 2 columns]

<font size="3">
    <b>
        Showing the Species that are predicted to get extinct by the model
        <b></font>

In [13]:
df_got_ex = predict_df[(predict_df.IsExtinct == 0) & (predict_df.Prediction == 1)]

In [14]:
df_got_ex

                                                    IsExtinct  Prediction
Common Name
Addax                                                       0           1
Dik-dik                                                     0           1
Giraffe                                                     0           1
Okapi                                                       0           1
Saola                                                       0           1
Gorilla gorilla diehli                                      0           1
Indri                                                       0           1
Gorilla Gorilla                                             0           1
Gorilla gorilla gorilla                                     0           1
Golden crowned flying fox                                   0           1
Vampire Bat                                                 0           1
Capybara                                                    0           1
Guinea Pig                                                  0           1
Japanese Squirrel                                           0           1
Prairie Dog                                                 0           1
Water Vole                                                  0           1
Diceros Bicornis                                            0           1
Equus ferus caballus                                        0           1
Rhinoceros Unicornis                                        0           1
Rhinoceros Sondaicus                                        0           1
Dicerorhinus Sumatrensis                                    0           1
 Central American Tapir, Kabomani Tapir, Mounta...          0           1
Ceratotherium simum                                         0           1
Zebra                                                       0           1
Zonkey                                                      0           1
None                                                        0           1
Flying lemur                                                0           1
 Sugar glider                                               0           1
Star-Nosed Mole                                             0           1
African grey parrot                                         0           1
Shoebill stork                                              0           1
Chinese goose                                               0           1
American mourning dove                                      0           1
Scrotum frog                                                0           1
Mudpuppy                                                    0           1
Bluefin tuna                                                0           1
Chinese paddlefish                                          0           1
Fluke and Summer Flounders                                  0           1
Frogfish                                                    0           1
Mekong Giant Catfish                                        0           1
Frogfish                                                    0           1
Pufferfish                                                  0           1
African spurred tortoise, spurred tortoise, Afr...          0           1
Camel Spider                                                0           1
Sleeper Shark                                               0           1
Ginglymostoma cirratum                                      0           1